// font-family: 'Gotham Serif', sans-serif;
@use "./layout";
@use "./components";
@use "./pages/home";
@use "./pages/posts";

.body {
  padding: 0px 150px 150px 150px;
  border-radius: 28% 29% 42% 47% / 0% 0% 34% 31%;
}

@media screen and (max-width: 480px) {
  .body {
    width: 100%;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1279px) {
  .body {
    padding: 0px 50px 50px 50px;
  }
}
